[Desktop Entry]
Type=Application
Name=Battle.net
Comment=Blizzard Battle.net Launcher
Exec=bash -c "$HOME/.local/bin/battlenet"
Icon=battlenet
Terminal=false
Categories=Game;
